@media (max-width: 320px) {
  body {
    background: none;
    font-size: 24px;
    max-width: 320px;
    margin:0;
    padding:0;
  }

nav ul li {
  display:block;
  width:250px;
  text-align:center;
  margin-bottom:1em;
  }

#banner, nav {
  background:none;
}

#container {
  display:block !important;
}


}
