
body {
font-family: 'Quicksand', sanserif;
}

#giannabalasco {
  width:240px;
  height:240px;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

#banner {
  background: url("../images/banner-left.png") no-repeat left 8px;
  background-size:50px;
  width:325px;
  margin:0 auto;
}


nav {
  background:url("../images/banner-right.png") no-repeat right 8px;
  background-size:50px;
  padding-right:20px;
  display:inline-block;
  text-transform:uppercase;
}

nav ul {
  list-style-type:none;
  display: inline-block;
  padding-left: 0;
  margin-left: 20px;
  background: rgb(164,216,197);

}

nav ul li{
  display:inline-block;
  padding: 9px 15px 8px 15px;

}

nav ul li a,
nav ul li a:visited {
  color: #fff;
  text-decoration: none;
}


section h3,
section h4,
section p {
  margin: 0;
}

#container {
  border-style:solid;
  border-color:#AFAFAF;
  border-width:11px;
  padding: 20px;
  position:relative;
  max-width:960px;
  overflow:hidden;
  margin:0 auto;
}

h2 {
  color:#8AC4AD;
  text-transform:uppercase;
}


h1 {
  text-align:center;
  text-transform:uppercase;
  text-decoration:none;
  margin-bottom:5px;
  color:#8AC4AD;
}

header h2 {
  margin-top:0px;
  margin-bottom:20px;
  display:block;
  text-align:center;
}


#right-column li {
  list-style-type:none;
}

address {
  font-style:normal;
}

#hobbies ul li img{
  vertical-align: middle;
  margin: 20px;
  width:100px;
  height:100px;

}


#activities p ul li{
  display: inline-block;

}


/* about page styles */
#about section {
  width:603px;
  margin:0 auto;
  display:block;

}

#lightGallery {
  list-style-type:none;
}

#lightGallery img {
  width:100px;
  display:inline;
}

#lightGallery li {
  display:inline-block;
  width:120px;
  padding-left:45px;
}
