


body {
font-family: 'Playfair Display', serif;
background-color: #00c19c
}



h1 {

  color: #ffffff;
  text align: left;
}

h2 {
  color: #333333;
  text align: center;
}

h3 {
  color: #c8ff00;

}
